.btn {
    transition: 0.5s;
    text-transform: uppercase;
    transition: 0.3s;
    padding: 8px 20px 5px 20px;
    font-family: 'industry-inc-base', Arial, sans-serif;
}

.btn:hover,
.btn:active,
.btn:focus {
    outline: none;
}

.btn.btn-white {
    background-color: #ffffff;
    color: #1c1f40;
    border: none;
}

.btn.btn-white:hover,
.btn.btn-white:active,
.btn.btn-white:focus {
    box-shadow: none;
    background: #00ad4c !important;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #00ad4c !important;
    color: #ffffff;
    outline: none !important;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
    border-color: transparent;
}

.btn.btn-primary {
    background-color: #00ad4c;
    color: #fff;
    border: none;
}

.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
    box-shadow: none;
    background: #1c1f40;
}

.btn:hover,
.btn:active,
.btn:focus {
    background: #1c1f40 !important;
    color: #ffffff;
    outline: none !important;
}

.btn.btn-default:hover,
.btn.btn-default:focus,
.btn.btn-default:active {
    border-color: transparent;
}