/* SLQ Standard footer for microsites */


/*** FOOTER ***/

footer {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-flow: wrap;
    padding-top: .8rem;
    padding-bottom: 2rem;
    background: hsla(0, 0%, 10%);
}

footer #logos {
    display: inline-flex;
    justify-content: left;
    align-content: flex-start;
}

footer #logos a {
    display: flex;
    align-items: flex-start;
    margin: .5rem;
    max-width: 150px;
}

footer img {
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

footer em {
    color: white;
}

footer ul {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    list-style: none;
    margin-bottom: 0;
}

footer ul li {
    display: inline-flex;
    padding-top: .4rem;
    padding-left: .6rem;
    padding-right: .6rem;
    padding-bottom: .4rem;
}


/* Mobile */

@media screen and (max-width: 768px) {
    footer ul {
        padding-left: 0;
        flex-direction: row;
        flex-flow: wrap;
    }
}


/* Tablet & Desktop */

@media screen and (min-width: 768px) {
    footer ul {
        flex-direction: row;
        flex-flow: wrap;
    }
}