/*Footer*/

footer {
    background-color: #000000;
    padding: 25px 0;
}

.footer_menu_list li {
    display: inline-flex;
    padding: 10px 15px;
}

.footer_menu_list li:first-child {
    padding-left: 0;
}

.footer_menu_list a {
    color: #ffffff;
    font-size: 11px;
}

.footer_menu_list a:hover {
    color: #91d8c6;
}

.slq_logo {
    margin-top: -5px;
    width: 205px;
}

.slq_logo a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

.lockedLogo img {
    display: inline-block;
}